
<div class="container p-5" *ngIf="tbVisibility">
    <div class="border border-light rounder p-5" > 
        <div>
        <button type="button" class="btn btn-sm btn-secondary" (click) = "showInsertForm()">
            Novo Cliente
        </button>
    </div>
 

    <hr/>

    <table class="table table-striped table-hover tabble-sm" *ngIf="clientes"> 
        <tr class="thead-light"> 
            <th> nome </th>
            <th> email </th>
            <th> cpf </th>
            <th> idade </th>
            <th> total devido </th>
            <th> Açoes </th>
        </tr>

        <tr *ngFor ="let cliente of clientes">
            <td> {{cliente.nome}}</td>
            <td> {{cliente.email}}</td>
            <td> {{cliente.cpf}}</td>
            <td> {{cliente.idade}}</td>
            <td> {{cliente.totalDivida}}</td>
            <td> 
                 <a [routerLink]="['/dividas',cliente.id]" class="btn btn-secondary"> Dividas </a>
            </td>
        </tr>

    </table>

    <div>
        <h2> Divida total: {{totalDevido}} </h2>
    </div>




</div>

</div>


<div class="container p-5" *ngIf="formVisibility">

    <div class="row"> 
        <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario"> 
            <h3>{{tituloFormulario}}</h3>
            <hr/>

            <form [formGroup] = "formulario" (ngSubmit) = "EnviarFormulario()" >
                <div class="form-group"> 
                    <label>Nome</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nome"/>
                </div>

                <div class="form-group"> 
                    <label>CPF</label>
                    <input type="text" mask="000.000.000-00" class="form-control form-control-sm" formControlName="cpf"/>
                </div>

                <div class="form-group"> 
                    <label>email</label>
                    <input type="text" class="form-control form-control-sm" formControlName="email"/>
                </div>

                <div class="form-group"> 
                    <label>Data Nascimento</label>
                    <input type="date" class="form-control form-control-sm" formControlName="dataNascimento"/>
                </div>

                <div class="container">
                    <div class="row">
                        <div> 
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="pl-1"> 
                            <button type="submit" class="btn btn-sm btn-lightn" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>

            </form>




        </div>
    </div>

</div>



